<form class="form-signin" id="login">
    <h2 class="form-signin-heading">NextMovie</h2>
    <label for="inputUsername" class="sr-only">Email address</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block login_btn" type="submit">Sign in</button>
</form>