ul, li{
    list-style: none;
    padding: 0;
}

.movie_name{
    text-align: center;
    margin:20px 0;
    font-weight: bold;
}

.movie_base_info{
    font-size: 20px;
    margin: 8px 0;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin-heading{
    text-align: center;
    color: #286090;
}

.login_btn{
    margin: 15px 0 0;
}

#error-container{
    margin: 15px 0 0;
}

#error-container .alert{
    margin-bottom: 0;
}

.home_title{
    text-align: center;
    color: #286090;
}

button.close{
    margin-left: 8px;
}

.tab-content{
    padding: 15px 0 0;
}

#preferences .nav-pills{
    border-bottom: 1px solid #286090;
    margin-bottom: 15px;
}

#preferences .glyphicon-plus{
    margin-left: 8px;
    cursor: pointer;
}